<!doctype html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>註冊</title>
</head>
<body>
    <h1>註冊帳號</h1>
    <form action="{{ url_for('register') }}" method="post">
        <label for="email">用戶信箱:</label>
        <input type="text" name="email" placeholder="email">
        <br>
        <label for="name">用戶名稱:</label>
        <input type="text" name="name" placeholder="name">
        <br>
        <label for="password">用戶密碼:</label>
        <input type="text" name="password" placeholder="password">
        <br>
        <button type="submit">確認</button>
    </form>


</body>
</html>